/* Custom CSS*/

/*Variables*/


/*Nav */



/*Showcase */
#showcase {
  height: 400px;
  background: url('../img/showcase.jpg') no-repeat center center;
  background-size: cover;
}

#showcase .container {
  height: auto;
}
